#container {
    margin-top: 30px;
    margin-left: 130px;
    margin-right: 130px;
}

#adminLink,
#adminLink2 {
    background-color: rgb(132, 106, 106);
    padding: 10px;
    margin-left: 130px;
    margin-right: 130px;
}

h1 {
    font-family: 'ABeeZee', sans-serif;
    text-align: center;
}

#adminLink a,
#adminLink2 a {
    margin-left: 860px;
    margin-right: 0px;
    text-decoration: none;
    color: black;
}

#backBtn a {
    text-decoration: none;
}

#adminLink a:hover,
#adminLink2 a:hover,
#backBtn a:hover {
    text-decoration: underline;
    opacity: 0.8;
    cursor: pointer;
}

.blog-post {
    padding: 70px;
    margin: 50px;
    width: calc(40% - 20px);
    box-sizing: border-box;
    display: inline-block;
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v795-tang-11.png?auto=&bg=transparent&con=3&cs=srgb&dpr=1&fm=png&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1400&s=0fe2fea276c56f719260c0f2cbb36d18');
    background-size: cover; /* Cover the entire container with the image */
    background-position: center; /* Center the image */
    font-family: 'Indie Flower', cursive;
   
}

.blog-post:hover {
    opacity: 0.8;
    cursor: pointer;
}

#read-more {
    font-size: 10px;
}