#container {
    border-top: solid;
    border-width: 1px;
    margin-top: 20px;
    margin-left: 170px;
    margin-right: 170px;
}

#adminLink,
#adminLink2 {
    background-color: rgb(132, 106, 106);
    padding: 10px;
    margin-left: 170px;
    margin-right: 170px;
}

body {
    background-color: rgb(232, 222, 216);
}

h1 {
    font-family: 'ABeeZee', sans-serif;
}

#adminLink a,
#adminLink2 a {
    margin-left: 780px;
    margin-right: 0px;
    text-decoration: none;
    color: black;
}

#backBtn a {
    text-decoration: none;
}

#adminLink a:hover,
#adminLink2 a:hover,
#read-more:hover,
#backBtn a:hover,
#read-more:hover {
    text-decoration: underline;
    opacity: 0.8;
    cursor: pointer;
}

#read-more:active {
    color: red;
}

#read-more {
    border: none;
    background-color: rgb(232, 222, 216);
    background: none;
    color: rgb(82, 21, 122);
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    padding-left: 0;
}


.blog-post {
    border-top: 1px dotted;
    padding-bottom: 20px; 
}






