#container {
    border-top: solid;
    border-width: 1px;
    margin-top: 20px;
    margin-left: 105px;
    margin-right: 138px;
}

#AdminLink a {
    margin-left: 105px;
    margin-right: 138px;
    text-decoration: none;
}

#AdminLink a:hover {
    opacity: 0.8;
    text-decoration: underline;
}

body {
    background-color: rgb(254, 224, 228);
}




