table {
    width: 80%;
    margin-left: 105px;
    margin-right: 200px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #999;
    padding: 10px;
    background-color: white;
}

th {
    background-color: rgb(254, 224, 228);
}

#post-table-body td:last-child {
    display: flex;
    justify-content: space-between;
}

#post-table-body a {
    text-decoration: none;
    color: darkblue;
}

#post-table-body a:hover {
    text-decoration: underline;
    color: rgba(42, 42, 187, 0.692);
}

#MyBlog {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 105px;
    margin-right: 200px;
}

#createPost {
    margin-left: 970px;
    margin-bottom: 10px;
    margin-right: 100px;
}

h1 {
    border-top: solid;
    border-width: 1px;
    margin-top: 20px;
    padding-top: 15px;
    margin-left: 105px;
    margin-right: 138px;
}


button:hover{
    opacity: 0.8;
}

#actionLink {
    display: flex;
    flex-direction: column;
}


#postForm {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 105px;
    margin-right: 200px;
}

#create-postPage {
    background-color: rgb(254, 224, 228);
}


#postForm label {
    margin-bottom: 0;
    display: block; 
}

input,
textarea {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #333;
}

textarea {
    margin-bottom: 10px;
    margin-top: 0;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
}


