table {
    width: 80%;
    margin-left: 105px;
    margin-right: 200px;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #999;
    padding: 10px;
    background-color: white;
}

th {
    background-color: rgb(254, 224, 228);
}

#post-table-body td:last-child {
    display: flex;
    justify-content: space-between;
}

#MyBlog {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 105px;
    margin-right: 200px;
}

#CreatePost {
    margin-left: 970px;
    margin-bottom: 10px;
    margin-right: 100px;
}

h1 {
    border-top: solid;
    border-width: 1px;
    margin-top: 20px;
    padding-top: 15px;
    margin-left: 105px;
    margin-right: 138px;
}


button:hover{
    opacity: 0.8;
}

#actionLink {
    display: flex;
    flex-direction: column;
}

input,
textarea,
select {
    width: 80%;
    margin-left: 105px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #333;
}

input {
    padding: 10px;
}

label,
#backLink {
    margin-left: 105px;
}

#backLink a,
#MyBlog a,
#CreatePost a {
    text-decoration: none;
}

#backLink a:hover,
#MyBlog a:hover,
#CreatePost a:hover {
    text-decoration: underline;
    opacity: 0.8;

}


#create-postPage {
    background-color: rgb(254, 224, 228);
}






